flows.json
[{"id":"edc97c97.301d3","type":"tab","label":"Challenge","disabled":false,"info":""},{"id":"72feaf71.58f0b","type":"serial in","z":"edc97c97.301d3","name":"Entrada arduino","serial":"24946830.8a8058","x":340,"y":180,"wires":[["dd3c72ba.fe164"]]},{"id":"94e45d10.bd2ed","type":"http request","z":"edc97c97.301d3","name":"Chamada para azure function","method":"GET","ret":"txt","paytoqs":"query","url":"http://challengeplufindertracker.azurewebsites.net/api/PlufinderTracker","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":280,"wires":[["e3c68893.3eb978"]]},{"id":"80719912.20f128","type":"function","z":"edc97c97.301d3","name":"Lógica de envio","func":"function getRandomArbitrary(min, max) {\n  return parseInt(Math.random() * (max - min) + min);\n}\n\nlet usuariosLocalizacao = [\n    {\n        usuario: 1,\n        cargo: 1,\n        localizacao: getRandomArbitrary(0, 10)\n    },\n    {\n        usuario: 1,\n        cargo: 2,\n        localizacao: getRandomArbitrary(0, 10)\n    },\n    {\n        usuario: 4,\n        cargo: 9,\n        localizacao: getRandomArbitrary(0, 10)\n    },\n    {\n        usuario: 5,\n        cargo: 1,\n        localizacao: getRandomArbitrary(0, 10)\n    },\n    {\n        usuario: 6,\n        cargo: 10,\n        localizacao: getRandomArbitrary(0, 10)\n    }\n]\nmsg.payload = usuariosLocalizacao[Math.floor(Math.random()*usuariosLocalizacao.length)];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["b1ff6361.7be01","94e45d10.bd2ed"]]},{"id":"b1ff6361.7be01","type":"debug","z":"edc97c97.301d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"dd3c72ba.fe164","type":"switch","z":"edc97c97.301d3","name":"IF usuário detectado","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":280,"wires":[["80719912.20f128"]]},{"id":"e3c68893.3eb978","type":"debug","z":"edc97c97.301d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"24946830.8a8058","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"","bin":"false","out":"char","addchar":"","responsetimeout":"1000"}]